/*!
 *
 * Evgeniy Ivanov - 2021
 * busforward@gmail.com
 * Skype: ivanov_ea
 *
 */
@import 'mixins/mixin'; // Fonts
// Import files
@import 'variables/variables';
@import 'core/reset';
@import 'core/icons';
@import 'core/template';
@import 'core/header';
@import 'core/navbar';
@import 'core/footer';
@import 'core/form';
@import 'core/grid';
@import 'core/soc';
@import 'core/breadcrumb';
@import 'core/pagination';
@import 'core/buttons';
@import 'core/video';

@import "vendor/slick";
@import "vendor/select2";
@import "vendor/modal";

@import './components/logo';
@import './components/lang';
@import './components/user';
@import './components/counter';
@import './components/apps';
@import './components/section';
@import './components/page';
@import './components/about';
@import './components/columns';
@import './components/counterGrid';
@import './components/inverseGrid';
@import './components/aboutVideo';
@import './components/leaders';
@import './components/slider';
@import './components/accreditation';
@import './components/awards';
@import './components/international';
@import './components/teachers';
@import './components/inlineBox';
@import './components/fullwidthGallery';
@import './components/bg_primary';
@import './components/questionBox';
@import './components/map';

@import "./components/firstScreen";
@import "./components/announcements";
@import "./components/coursesList";
@import "./components/coursesTag";
@import "./components/coursesFilter";
@import "./components/rating";
@import "./components/stepsLine";
@import "./components/parthnersList";
@import "./components/sorting";
@import "./components/progressCol";
@import "./components/teachersList";

@import "./components/newsSlider";
@import "./components/newsCat";
@import "./components/news";
@import "./components/newsList";

@import "./components/post";
@import "./components/similarSlider";
@import "./components/postSlider";

@import "./components/course";
@import "./components/courseHome";
@import "./components/courseState";
@import "./components/courseHead";
@import "./components/donut";
@import "./components/courseItem";
@import "./components/courseReview";
@import "./components/courseSert";
@import "./components/courseFaq";
@import "./components/courseOrder";
@import "./components/courseOrdered";
@import "./components/socialAuth";
@import "./components/lk";
@import "./components/lkBox";
@import "./components/lkNav";
@import "./components/prmoSlider";
@import "./components/lkProgress";
@import "./components/lkRecomend";
@import "./components/smallBox";
@import "./components/progressBar";
@import "./components/coloredBox";
@import "./components/task";
@import "./components/taskLinks";
@import "./components/taskEdit";
@import "./components/upload";
@import "./components/taskAnswer";
@import "./components/taskComment";
@import "./components/lkNext";
@import "./components/lkAlert";
@import "./components/lkAvatar";
@import "./components/lkChecked";
@import "./components/lkNumList";
@import "./components/lkPast";
@import "./components/lkSerts";
@import "./components/lkReceipts";
@import "./components/lkDownload";
@import "./components/lkOrganization";
@import "./components/onOff";
@import "./components/swicher";
@import "./components/count";
@import "./components/lkHistory";
@import "./components/lkDeveloping";
@import "./components/lkPopular";
@import "./components/lkAverage";
@import "./components/lkForCheck";
@import "./components/lkStats";

@import "./components/table";
@import "./components/subtitle";

@import "./components/thSort";

@import "./components/lkLesson";
@import "./components/lkEducation";
@import "./components/lkForm";
@import "./components/lkColor";
@import "./components/lkGroup";
@import "./components/lkCourseFooter";
@import "./components/lkCourseMonth";
@import "./components/lkTags";

@import "./components/newsHead";
@import "./components/newsParts";
@import "./components/newsLinks";
@import "./components/contactMap";

.mobileSort {
    position: fixed;
    left: 0;
    top: 76px;
    right: 0;
    bottom: 0;
    height: calc(100% - 76px);
    background-color: $color_withe;
    padding: 15px;
    display: flex;
    flex-direction: column;
    display: none;
    overflow-y: auto;

    &_open {
        overflow: hidden;
    }

    &.open {
        display: block;
    }

    &__toggle {
        background: #2B89F8;
        border-radius: 5px;
        padding: 8px 20px 8px 14px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        color: $color_withe;
        font-size: 14px;
        line-height: 191.52%;
        margin-bottom: 30px;

        .icon_plus {
            font-size: 9px;
            margin-left: 9px;
        }
    }

    &__head {
        position: relative;
    }

    &__title {
        // font-size: 18px;
        // line-height: 191.52%;
        // color: #2F2B38;
    }

    &__close {
        position: absolute;
        right: 0;
        top: -5px;
        font-size: 18px;
        color: #E4E4E4;
        cursor: pointer;

        .icon_close {}
    }

    &__body {
        flex-grow: 1;
    }

    &__footer {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 24px 0 17px;

        .btn {
            width: 100%;
            max-width: 300px;
            margin-bottom: 23px;
        }
    }

    &__reset {
        font-size: 12px;
        font-weight: 600;
        line-height: 2;
        display: flex;
        align-items: center;
        letter-spacing: 0.05em;
        text-transform: uppercase;
        color: #585858;

        .icon_close {
            font-size: 9px;
            margin-right: 6px;
        }
    }

}
