if trsHead
    - trs = 'header_transition';
else
    - trs = '';
header.header(class=trs)
    .header__content
        .header__left
            a.logo(href="/")
                img(src="img/logo.svg", alt="Бизнес-школа")
        .navbar__toggle.js_toggle_nav
        nav.header__nav.nav
            .nav__header
                i.icon_close.js_toggle_nav
            .nav__search
                .search
                    input(type="text", placeholder="Поиск...")
                    i.icon_search
            .nav__body
                ul.navbar
                    each navLink, i in [{name: 'О школе', href: 'about.html'},{name: 'Новости', href: 'news.html'},{name: 'Кампус', href: 'campus.html'},{name: 'Программы обучения', href: 'programm.html'},{name: 'Преподаватели и спикеры', href: 'teachers.html'},]
                        li.navbar__item
                            if activePage == navLink.name
                                a.navbar__link.active(href=navLink.href)= navLink.name
                            else
                                a.navbar__link(href=navLink.href)= navLink.name
                    if isLogin
                        li.navbar__item.mobile
                            a.navbar__link(href="") Личный кабинет

            .nav__footer
                .nav__contact
                    a(href="mailto: info@mail.ru")
                        i.icon_mail 
                        | info@mail.ru
                    a(href="tel: +7 (495) 000 00 00")
                        i.icon_call 
                        | +7 (495) 000 00 00
                .soc
                    a.soc__link.icon_vk(href="#")
                    a.soc__link.icon_youtube(href="#")
                    a.soc__link.icon_insta(href="#")
                    a.soc__link.icon_watsapp(href="#")
                    a.soc__link.icon_viber(href="#")

        .header__right
            .header__info
                .lang
                    .lang__current RU
                    ul.lang__list
                        li
                            a(href="#") RU
                        li
                            a(href="#") EN
                .user
                    .user__icons
                        i.icon_search
                        i.icon_view
                        if isLogin
                            a.icon_chat(href="")
                                .counter 3
                            a.icon_bell(href="")
                                .counter 9

                    .user__info
                        if !isLogin
                            .user__auth
                                a(href="#" data-toggle="modal" data-target="#register") Регистрация
                                | |
                                a(href="#" data-toggle="modal" data-target="#login") Вход
                        else
                            .user__row
                                .user__avatar
                                    img(src="img/ava.png", alt="")
                                .user__name
                                    span Иванов И.И.
                                    i.icon_caret
                                    .user__drop
                                        .user__dropItem
                                            a(href="")
                                                i.icon_logout 
                                                | Выход
