mixin breadcrumb(items)
    .breadcrumb
        ul
            li
                a(href="/") Главная страница
            each item in items
                li
                    a(href="")=item


mixin sert(arr)
    .lkSerts
        each item in arr
            .lkSerts__item
                .lkSerts__img
                    img(src="img/sert-"+item.img+".jpg", alt="")
                if item.perc
                    .lkSerts__progress
                        .lkSerts__label Завершено #{item.perc}
                        .lkSerts__bar
                            span(style="width: "+item.perc+"")
                .lkSerts__name «Сертифицированный менеджер»
