extends layout/layout.pug

block content
    .container_center
        ul
            li
                a(href="home.html") Главная
            li
                a(href="about.html") О школе
            li
                a(href="programm.html") Программы обучения
            li
                a(href="teachers.html") Преподаватели и спикеры
            li
                a(href="graduates.html") Выпускники
            li
                a(href="news.html") Новости
            li
                a(href="news-a.html") Новости алтернативная
            li
                a(href="new.html") Новость
            li
                a(href="campus.html") Кампус
            li
                a(href="course.html") Страница курса
            li
                a(href="st-home.html") ЛК студент - главная
            li
                a(href="st-courses.html") ЛК студент - курсы
            li
                a(href="st-single-course.html") ЛК студент - один курс
            li
                a(href="st-single-course-2.html") ЛК студент - один курс 2 колонки
            li
                a(href="st-task-edit.html") ЛК студент - Задание (редактирование/заполнение)
            li
                a(href="st-task-ordered.html") ЛК студент - Задание (на проверке)
            li
                a(href="st-task-checked.html") ЛК студент - Задание (проверено)
            li
                a(href="st-user.html") ЛК студент - Мои данные
            li
                a(href="st-anketa.html") ЛК студент - Анкета (выбор направления)
            li
                a(href="st-anketa-2.html") ЛК студент - Анкета (выбор направления - список) 
            li
                a(href="st-anketa-3.html") ЛК студент - Анкета (подбор курсов)
            li
                a(href="st-anketa-4.html") ЛК студент - Анкета (прошлое анкетирование)
            li
                a(href="st-certificate.html") ЛК студент - Мои сертификаты
            li
                a(href="st-payment.html") ЛК студент - Оплата и договор
            li
                a(href="st-settings.html") ЛК студент - Настройки
            li
                a(href="th-home.html") ЛК Преподаватель - главная
            li
                a(href="th-task-list.html") ЛК Преподаватель - Непроверенные работы
            li
                a(href="th-task-checked.html") ЛК Преподаватель - Оценка задания
            li
                a(href="th-user.html") ЛК Преподаватель - Мои данные
            li
                a(href="th-courses-settings.html") ЛК Преподаватель - Управление курсами
            li
                a(href="th-course-edit.html") ЛК Преподаватель - Редактирование курса
            li
                a(href="th-course-add.html") ЛК Преподаватель - Добавление курса
            li
                a(href="th-analitics.html") ЛК Преподаватель - Аналитика
            li
                a(href="th-settings.html") ЛК Преподаватель - Настройки
