extends layout/layout.pug
block variables
    - isLogin = true;


block content
    - st = true;
    .lk
        .container_center
            +breadcrumb(['Личный кабинет', 'Мои сертификаты'])

            .lk__head
                h1.page__title Мои сертификаты
                button.btn Подобрать курсы

            .lk__body
                include inc/lk-aside.pug
                .lk__content
                    h2.subtitle Иван, Вы успешно завершили 5 программ обучения

                    p В данном разделе Вы можете получить электронные сертификаты

                    +sert([{img: 1},{img: 2},{img: 3},{img: 2},{img: 1}])

                    h2.subtitle Сертификаты в процессе

                    +sert([{img: 2, perc: '25%'},{img: 1, perc: '65%'},{img: 4, perc: "97%"}])

                    //- h2.subtitle Рекомендованные к получению сертификаты

                    //- +sert([2,1,4])
