extends layout/layout.pug
block variables
    - isLogin = true;

block content
    .lk
        .container_center
            +breadcrumb(['Настройки'])

            .lk__head
                h1.page__title Настройки
                button.btn Подобрать курсы

            .lk__body
                include inc/lk-aside.pug
                .lk__content
                    h2.subtitle Уведомления

                    // begin onOff
                    .onOff
                        .onOff__item
                            label.swicher
                                input(type="checkbox" checked)
                                span.swicher__box
                            .onOff__name Получать уведомления о проверенных работах
                        .onOff__item
                            label.swicher
                                input(type="checkbox" checked)
                                span.swicher__box
                            .onOff__name Напоминать о сроке сдачи работ за 
                                span.count
                                    input(type="number" value="5" min="0" max="30")
                                    .count__btn
                                        .plus
                                        .minus
                                | дней
                        .onOff__item
                            label.swicher
                                input(type="checkbox")
                                span.swicher__box
                            .onOff__name Получать уведомления о проверенных работах
                        .onOff__item
                            label.swicher
                                input(type="checkbox")
                                span.swicher__box
                            .onOff__name Напоминать о предстоящих лекциях за 
                                span.count
                                    input(type="number" value="5" min="0" max="30")
                                    .count__btn
                                        .plus
                                        .minus
                                | дней

                    // end onOff

                    h2.subtitle История входа

                    // begin lkHistory
                    .lkHistory
                        each item in ['Windows 10 - Opera', 'Windows 8 - Opera', 'Windows 7 - Chrome', 'Windows 10 - Chrome', 'Windows 8 - Chrome']
                            .lkHistory__item
                                .lkHistory__col Выполнен вход 01.04.2021
                                .lkHistory__col=item
                                .lkHistory__col в 15:39

                    // end lkHistory

                    .lkNext
                        button.btn(type="button") Выйти со всех устройств
