.accreditation {
    margin: 30px -15px 24px;

    @media (min-width: 768px) {
        margin: 35px 0 70px -30px;
    }

    @media (min-width: 992px) {
        margin: 35px 0 110px -30px;
    }

    @include asyncSlider();

    &__item {
        padding-left: 15px;
        margin-bottom: 25px;

        @media (min-width: 768px) {
            padding-left: 30px;
            margin-bottom: 0;
        }
    }

    &__img {
        background: #FFFFFF;
        border-radius: 15px;
        padding: 20px 26px;

        @media (min-width: 768px) {
            padding: 28px 35px;
        }

        img {
            display: block;
        }
    }
}
