.coursesList {
    padding: 40px 0 90px;

    @media (min-width: 768px) {
        padding: 78px 0 154px;
    }

    &__row {
        display: flex;
        flex-wrap: wrap;
        margin: 0 -15px;

        // @media (min-width: 768px) {
        //     // margin: 0 -15px;
        // }

        .slick-list {
            padding: 0 0 0 15px;

            @media (min-width: 768px) {
                padding: 0;
            }
        }
    }

    &__item {
        width: 272px;
        margin: 0 15px 30px;
        background: #FFFFFF;
        box-shadow: 0 10px 30px rgba(24, 33, 42, 0.08);
        border-radius: 15px;
        padding: 25px 20px 24px;
        font-size: 14px;
        display: flex;
        flex-direction: column;
        transition: 0.3s;
        flex-grow: 1;

        @media (min-width: 768px) {
            width: calc(50% - 30px);

            &:hover {
                box-shadow: 0 25px 65px rgba(24, 33, 42, 0.12);
            }
        }

        @media (min-width: 992px) {
            padding: 30px 30px 34px;
        }

        @media (min-width: 1200px) {
            width: calc(33.3% - 30px);
        }

        &_2 {
            width: calc(100% - 30px);

            @media (min-width: 1200px) {
                width: calc(50% - 30px);
            }
        }
    }

    &__head {
        margin-bottom: 12px;
        font-size: 12px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        &_short {
            max-width: 390px;
        }
    }

    &__duration {
        display: flex;
        align-items: center;

        i {
            font-size: 16px;
            color: $color_primary;
            margin-right: 9px;
        }
    }

    &__complexity {
        display: flex;
        align-items: center;
    }

    &__progress {
        margin-left: 6px;
    }

    &__name {
        display: flex;
        align-items: center;
        font-weight: 600;
        font-size: 16px;
        line-height: 1.383;
        display: flex;
        align-items: center;
        color: #2F2B38;
        margin: 0 0 15px;

        @media (min-width: 992px) {
            font-size: 20px;
            min-height: 56px;
        }

        // .lk & {
        //     min-height: inherit;
        //     mt26
        // }
    }

    &__middle {
        margin-bottom: 15px;

        @media (min-width: 992px) {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 26px;
        }
    }

    &__rate {
        display: flex;
        align-items: center;

        @media (min-width: 768px) {
            line-height: 1;
        }

        .rating {
            margin-top: -4px;
            margin-right: 9px;

        }

    }

    &__price {
        font-weight: 600;
        font-size: 14px;
        margin-top: 12px;
        @media (min-width: 992px) {
            margin-top: 0;
            font-size: 15px;

        }
    }

    &__description {
        flex-grow: 1;
        margin-bottom: 22px;
        font-size: 14px;
        line-height: 1.571;

        @media (min-width: 768px) {
            margin-bottom: 22px;

        }
    }

    &__action {
        display: flex;
        align-items: center;

        .btn {
            width: 100%;

            @media (min-width: 768px) {
                max-width: 201px;
                margin-right: 47px;

            }
        }
    }

    &__delete {
        display: flex;
        align-items: center;
        font-weight: bold;
        font-size: 14px;
        line-height: 182.85%;
        letter-spacing: 0.05em;
        text-transform: uppercase;
        cursor: pointer;

        i {
            font-size: 18px;
            color: $color_primary;
            margin-right: 8px;
        }
    }

    &__tags {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        margin-top: 10px;

        a {
            background: #FFFFFF;
            box-shadow: 0 4px 15px rgba(176, 187, 193, 0.25);
            border-radius: 16px;
            text-decoration: none;
            margin-top: 10px;
            margin-right: 12px;
            font-size: 12px;
            line-height: 140%;
            color: $color_primary;
            padding: 3px 8px;

            &:hover {
                box-shadow: 0 0 5px rgba(176, 187, 193, 0.25);
            }

            &.danger {
                color: #FF0000;
            }

            &.success {
                color: #1BC100;
            }
        }
    }

}
