.courseHead {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    font-size: 12px;
    font-weight: 500;
    margin-bottom: 44px;

    @media (min-width: 768px) {}

    @media (min-width: 992px) {
        margin-bottom: 70px;
        font-size: 14px;
    }

    &__rate {
        display: flex;
        align-items: center;
        font-size: 14px;
        line-height: 1;
        margin-right: 37px;
        margin-bottom: 12px;

        @media (min-width: 992px) {
            margin-bottom: 0;
        }

        .rating {
            margin-top: -2px;

            .icon_star:not(.active) {
                color: $color_withe;
            }
        }
    }

    &__label {
        margin-right: 8px;
    }

    &__duration {
        display: flex;
        align-items: center;

        i {
            font-size: 16px;
            color: #FFD337;
            margin-right: 11px;
        }
    }

}
