.lang {
    margin-right: 15px;
    font-size: 14px;
    position: relative;
    padding: 8px 0;

    @media (min-width: 1400px) {
        margin-right: 26px;
    }

    &__current {
        cursor: pointer;
        display: flex;
        align-items: center;

        &:after {
            font-family: 'bsch';
            content: $icon_caret;
            font-size: 8px;
            margin-left: 3px;
            transition: 0.3s;
        }
    }

    &__list {
        position: absolute;
        display: none;
        list-style: none;
        margin: 0;
        // top: calc(100% + 32px);
        top: 100%;
        left: -10px;
        background: #FFFFFF;
        box-shadow: 0 35px 65px rgba(24, 33, 42, 0.08);
        // border-radius: 0 0 10px 10px;
        border-radius: 8px;
        padding: 5px 0;
        animation: slideUp 0.5s;

        a {
            color: #363636;
            text-decoration: none;
            display: block;
            padding: 5px 10px;

            &:hover {
                background: rgba(24, 33, 42, 0.08);
            }
        }
    }

    &:hover {
        .lang__list {
            display: block;
            animation: slideUp 0.5s;
        }

        .lang__current {
            &:after {
                transform: rotate(180deg);
            }
        }
    }

}
