.lkAlert {
    background: #A3A3A3;
    border-radius: 5px;
    color: $color_withe;
    display: flex;
    position: relative;
    padding: 23px;
    align-items: center;
    margin: 24px 0 40px;

    &_primary {
        background: $color_primary;
    }

    &_success {
        background: $color_success;
    }

    &_danger {
        background: #F72323;
    }

    &__icon {
        font-size: 23px;
        flex: none;
        margin-right: 11px;
        line-height: 1;
    }

    &__text {}

    &__close {
        font-size: 11px;
        position: absolute;
        right: 13px;
        top: 12px;
        z-index: 1;
        cursor: pointer;
        transition: 0.3s;

        &:hover {
            opacity: 0.8;
        }
    }
}
