.lkChecked {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;

    &__item {
        padding-left: 30px;
        margin-bottom: 30px;
        width: 50%;
        display: flex;

        @media (min-width: 1200px) {
            width: 33.3%;
        }
    }

    &__label {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: relative;
        z-index: 1;
        padding: 30px;
        cursor: pointer;

        &:hover {
            .lkChecked__name {
                color: $color_primary;

                &:before {
                    box-shadow: 0 10px 30px rgba(24, 33, 42, 0.14);
                }
            }
        }
    }

    &__name {
        font-weight: 600;
        font-size: 20px;
        line-height: 138.3%;
        color: #868686;
        overflow: hidden;

        &:before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            z-index: -1;
            background: #FFFFFF;
            border-radius: 15px;
            box-shadow: none;
            transition: 0.3s;
        }

        &:after {
            content: '';
            display: block;
            position: absolute;
            left: 0;
            top: 0;
            bottom: 0;
            width: 10px;
            transition: 0.3s;
            background: #EFEFEF;
            border-radius: 10px 0 0 10px;
        }
    }

    input[type=radio]:not([class]) {
        background: #FAFAFA;
        border: 1px solid #DEDEDE;
        width: 27px;
        height: 27px;
        margin-left: 30px;
        order: 2;

        &:checked {
            background: $color_primary;
            border-color: $color_primary;

            &:before {
                width: 13px;
                height: 13px;
            }

            + .lkChecked__name {
                color: $color_primary;

                &:before {
                    box-shadow: 0 10px 30px rgba(24, 33, 42, 0.14);
                }

                &:after {
                    background: $color_primary;
                }
            }
        }
    }
}
