.lkCourseFooter {
    display: flex;
    justify-content: flex-end;
    margin-left: -30px;
    margin-bottom: 110px;

    .btn {
        width: 100%;
        max-width: 353px;
        margin-left: 30px;
        padding: 20px;
    }
}
