.lkForCheck {
    margin: 0 -15px 10px;
    display: flex;
    flex-wrap: wrap;

    &__item {
        width: 250px;
        flex-grow: 1;
        margin: 0 15px 30px;
        background: #FFFFFF;
        box-shadow: 0 10px 30px rgba(24, 33, 42, 0.08);
        border-radius: 15px;
        padding: 28px 20px 38px;

        @media (min-width: 768px) {
            width: calc(100% - 30px);
            padding: 30px;
        }

        @media (min-width: 1200px) {
            width: calc(50% - 30px);
            flex-grow: 0;
        }

        &_tripple {
            @media (min-width: 768px) {
                width: calc(50% - 30px);
            }

            @media (min-width: 1200px) {
                width: calc(33.3% - 30px);
            }
        }
    }

    &__name {
        font-weight: 600;
        font-size: 16px;
        line-height: 138.3%;
        margin-bottom: 11px;

        @media (min-width: 768px) {
            font-size: 20px;
        }
    }

    &__props {
        font-size: 14px;
        line-height: 1.4;
        margin-bottom: 22px;

        @media (min-width: 768px) {
            display: flex;
            flex-wrap: wrap;
            margin-left: -10px;
            margin-bottom: 10px;
        }
    }

    &__prop {
        margin-bottom: 10px;

        @media (min-width: 768px) {
            padding-left: 10px;
            width: 50%;
        }

        .danger {
            color: $color_danger;
        }
    }

    &__label {
        color: #656565;
        margin-bottom: 1px;
    }

    &__data {}

    &__check {
        .btn {
            width: 100%;
            max-width: 350px;

            @media (min-width: 768px) {
                max-width: 201px;
                padding: 16.5px 10px;

            }
        }
    }

}
