.lkPast {
    margin-left: -30px;
    margin-bottom: 40px;

    @media (min-width: 768px) {
        display: flex;
        flex-wrap: wrap;
    }

    &__item {
        display: flex;
        padding-left: 30px;
        margin-bottom: 20px;
        font-size: 14px;

        @media (min-width: 768px) {
            margin-bottom: 30px;
            width: 50%;
        }

        @media (min-width: 1200px) {
            width: 33.3%;
        }
    }

    &__body {
        background: #FFFFFF;
        border-radius: 15px;
        box-shadow: 0 10px 30px rgba(24, 33, 42, 0.08);
        width: 100%;
        padding: 29px 20px 30px;
        position: relative;
        overflow: hidden;
        transition: 0.3s;

        @media (min-width: 768px) {
            padding: 39px 30px;
            min-height: 177px;
        }

        &:hover {
            box-shadow: 0 0 10px rgba(24, 33, 42, 0.08);
        }
    }

    &__head {
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-between;
        margin-bottom: 11px;

        @media (min-width: 768px) {
            align-items: center;
            flex-direction: row;
            margin-bottom: 8px;
        }
    }

    &__name {
        font-weight: 600;
        font-size: 16px;
        line-height: 138.3%;
        margin-top: 17px;

        @media (min-width: 768px) {
            font-size: 20px;
            margin-right: 20px;
            margin-top: 0;
        }
    }

    &__date {
        font-size: 12px;
        display: flex;
        align-items: center;

        .icon_calendar {
            font-size: 16px;
            line-height: 1;
            margin-top: -1px;
            margin-right: 6px;
            color: $color_primary;
        }
    }

    &__props {
        dl {
            display: flex;
            line-height: 1.57;
            font-size: 13px;
            margin: 0 0 3px;

            @media (min-width: 768px) {
                font-size: 14px;
            }

            dt {
                color: #656565;
            }

            dd {
                margin-left: 5px;
            }
        }
    }

    &__progress {
        position: absolute;
        left: 0;
        bottom: 0;
        height: 6px;
        background: #A3A3A3;

        @media (min-width: 768px) {
            height: 11px;
        }

        &.danger {
            background: #FF3115;
        }

        &.warning {
            background: #FFA319;
        }

        &.success {
            background: #0DD75E;
        }

    }

}
