.newsParts {

    @media (min-width: 768px) {
        padding-left: 60px;
    }

    @media (min-width: 992px) {
        max-width: 660px;
        padding-left: 106px;
    }

    &__title {
        font-size: 18px;
        font-weight: 500;
        margin-bottom: 18px;

        @media (min-width: 768px) {
            font-size: 22px;
            margin-bottom: 24px;
        }

        @media (min-width: 992px) {
            font-size: 28px;
            margin-bottom: 34px;
        }
    }

    &__list {
        display: flex;
        flex-wrap: wrap;
        margin-left: -10px;

        @media (min-width: 768px) {
            margin-left: -20px;
        }

        @media (min-width: 992px) {
            margin-left: -30px;
        }

        a {
            width: 50%;
            color: $color_primary;
            font-weight: 800;
            text-transform: uppercase;
            font-size: 12px;
            text-decoration-color: transparent;
            padding-left: 10px;
            margin-bottom: 6px;
            max-width: 170px;

            @media (min-width: 768px) {
                font-size: 13px;
                width: 33.3%;
                margin-bottom: 20px;
                padding-left: 20px;
                max-width: none;
            }

            @media (min-width: 992px) {
                font-size: 15px;
                padding-left: 30px;
                margin-bottom: 26px;
            }

            &:hover {
                text-decoration-color: initial;
            }
        }
    }

}
