.questionBox {
    position: relative;
    z-index: 1;

    &__content {
        padding-top: 43px;
        padding-bottom: 58px;

        @media (min-width: 768px) {
            padding-top: 90px;
            padding-bottom: 0;
            display: flex;
            align-items: flex-start;
        }

        @media (min-width: 992px) {
            padding-top: 150px;
        }
    }

    &__left {
        @media (min-width: 768px) {
            width: 33.8%;
            padding-right: 50px;
        }
    }

    &__title {
        font-weight: 500;
        font-size: 22px;
        line-height: 1.383;
        margin-bottom: 17px;

        @media (min-width: 768px) {
            font-size: 28px;
            margin-bottom: 36px;
        }
    }

    &__data {
        margin-bottom: 53px;

        @media (min-width: 768px) {
            margin-bottom: 101px;
        }
    }

    &__office {
        display: none;

        @media (min-width: 768px) {
            margin-bottom: -80px;
            display: flex;
            align-items: flex-end;

            &Img {
                width: 312px;
                height: 353px;
                flex: none;

                img {
                    display: block;
                    border-radius: 10px;
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }

            &Text {
                margin-bottom: 100px;
                padding-left: 25px;
                margin-right: -160px;
                font-size: 14px;
                font-weight: 300;
            }
        }
    }

    &__form {
        margin: 0;

        @media (min-width: 768px) {
            width: 66.2%;
            margin: 0 0 125px;
        }

        .form {
            background: linear-gradient(180deg, rgba(248, 248, 248, 0.19) 0%, rgba(248, 248, 248, 0.105) 100%);
            border-radius: 15px;
            backdrop-filter: blur(20px);
            padding: 24px;

            @media (min-width: 768px) {
                padding: 50px 50px 30px;
            }

            &__check {
                a {
                    color: $color_withe;
                }
            }
        }
    }

}
