.upload {
    padding: 24px;
    display: inline-block;

    span {
        cursor: pointer;
        font-weight: 800;
        letter-spacing: 0.05em;
        text-transform: uppercase;
        display: flex;
        align-items: center;
    }

    input {
        display: none;
    }

    .icon_clip {
        color: $color_primary;
        margin-right: 12px;
    }
}
